@import 'src/styles';

.directNgStyleBlock {
  @include divContainer();
  & h1 {
    text-decoration: underline;
    color: #1976d2;
  }
  & span {
    font-size: 18px;
  }
  input {
    padding: 8px;
    border-radius: 12px;
  }
  button {
    @include myButton();
    margin-bottom: 20px;
  }
}
