<div class="taskNgDirectBlock">
  <h1>Task NgDirective</h1>
  <div>
    <h2>Task 1-3</h2>
  </div>
  <div *ngFor="let el of fruits; even as even; odd as odd">
    <div [ngClass]="{ success: even, error: odd }">
      <span><b>Name:</b> {{ el.name }} </span>
      <span><b>Prise:</b> {{ el.price }} </span>
    </div>
  </div>

  <div>
    <h2>Task 4</h2>
  </div>
  <div *ngFor="let el of fruits">
    <div *ngIf="el.price > 7">
      <span><b>Name:</b> {{ el.name }} </span>
      <span><b>Prise:</b> {{ el.price }} </span>
    </div>
  </div>

  <div>
    <h2>Task 5</h2>
  </div>
  <div *ngFor="let el of fruits">
    <div [ngClass]="{ default: el.price > 15 }">
      <span><b>Name:</b> {{ el.name }} </span>
      <span><b>Prise:</b> {{ el.price }} </span>
    </div>
  </div>
</div>
