@import 'src/styles';

.todosBlock {
  .inputWrapper {
    margin-bottom: 10px;
  }
  .containerWrapper {
    columns: 2 260px;
    column-gap: 10px;
  }
  .container {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #41096e;
    padding-bottom: 5px;
    .item {
      display: flex;
      flex: 1 1;
      align-items: baseline;
      word-break: break-word;
      &:after {
        display: inline-block;
        flex: 1 1;
        margin-left: 5px;
        content: '';
        border-bottom: dotted 1px #ccc;
      }
    }
    .buttonWrapper {
      display: flex;
      align-items: baseline;
      & button {
        color: white;
        background: #ef5757;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  @include divContainer();
  & h1 {
    text-decoration: underline;
    color: #1976d2;
  }
  & h2 {
    text-decoration: underline;
  }
  & h3 {
    color: #41096e;
    margin: 0;
    padding: 0;
  }
}
