<div class="directNgIfBlock">
  <h1>Directive NgIf</h1>
  <div>
    <button (click)="isLoading = !isLoading">{{ isLoading ? 'show' : 'hide' }}</button>
  </div>

  <div *ngIf="isLoading; else elseBlock">
    <h2>Loading...</h2>
  </div>

  <ng-template #elseBlock>
    <div *ngFor="let el of students">
      <span><b>Name: </b>{{ el.name }} </span>
      <span><b>Age: </b>{{ el.age }} </span>
    </div>
  </ng-template>

  <ng-container *ngIf="!isLoading">
    <h2>One Student</h2>
    <span><b>Name: </b>{{ student.name }} </span>
    <span><b>Age: </b>{{ student.name }} </span>
  </ng-container>
</div>
