<aside class="mainBlock">
  <ins-task-ng-directive></ins-task-ng-directive>
  <ins-directive-ng-style></ins-directive-ng-style>
  <ins-directive-ng-class></ins-directive-ng-class>
  <ins-directive-ng-switch></ins-directive-ng-switch>
  <ins-directive-ngif></ins-directive-ngif>
  <ins-directive-ngfor></ins-directive-ngfor>
  <ins-output-parent></ins-output-parent>
  <ins-input-comp></ins-input-comp>
  <ins-two-way-binding></ins-two-way-binding>
  <ins-event-binding></ins-event-binding>
  <ins-property-binding></ins-property-binding>
  <ins-interpolation></ins-interpolation>
  <ins-template></ins-template>
  <ins-new-comp></ins-new-comp>
</aside>
